<!-- <h1 class=title>
  Hello Angular {{title}}
</h1> -->

<!-- Todo App Start -->
<!-- <div class="app">
  <header>
      <h1>Todo List</h1>
  </header>
<app-todo-app></app-todo-app>
  
</div> -->


<!-- Todo App end -->



<!-- Header -->
<app-header></app-header>

<!--  Counter Application -->
<!-- <app-counter></app-counter> -->



<!-- Styleing The Componant -->
<!-- If else Condition -->
<!--  property Binding -->

<!--  if elese and switch in collage for loop nested loop style binding   -->
<app-collage></app-collage>




<!-- form Register -->
<!-- <app-register></app-register> -->










<!-- Get Input Value -->
<!-- <input type="text" #box1 placeholder="Input Value" >
<button (click)="getData(box1.value )">Click Me</button>
<p> Box Value is: {{displayVal}}</p> -->

<!-- Event -->
<!-- <h2> {{data}} </h2> -->
<!-- <h2> {{getVal(a,b)}} </h2> -->

<!-- <app-header></app-header>
<app-user-list></app-user-list>
<app-student-list></app-student-list>
<app-country></app-country>
 <app-login></app-login> 
<app-login></app-login> -->

<!-- <button (click)="getName('Angular Wala')"> Click Me</button>
<br/>
<br/> 
<button (click)="getData('Rahul')">  On ClickS </button>
<br/>
<br/>
<input type="text"  #box1 placeholder="keyUp Box" (keyup)="getData(box1.value)">
<br/>
<br/> 
<input type="text" #box2 placeholder="keyDown Box" (keydown)="getData(box2.value)">
<br/>
<br/>  
<input type="text" #box3 placeholder="blurBox" (blur)="getData(box3.value)"> -->

